body{
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRReCc2qphzrLNIdR7E3TVWyyWYgFsTBw1TXA&usqp=CAU);
}
